@charset "utf8";

body.body1{
    background-image: linear-gradient(to bottom, #00000087, rgb(253 194 0));
    background-size: 100% 100%;
    background-position: top left;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.titulo {color: #FF1B02;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
.body2{
    background-image: url();
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    background-position: top left;
    background-attachment: fixed;
    ;
}
.body3{
background-image: linear-gradient(to bottom, gray,rgb(253 194 0) ) ;
}
.p-inicio{
color: #ccc;
}
.h2-3{
    color: black;
}
div.container{
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
   
}
div.containerII{
    width: 400px;
    height: 360px;
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    padding-top: 15px;
}
div.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}
.input{
    
    height: 40px;
    width: 80%;
    font-size: 18px; 
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 10px;
}
input.email{
    background-image: url("imagens/icone-usuario.png");
    
}
input.nome_cliente{
    background-image: url("imagens/icone-usuario.png");

}
input.senha{
    background-image: url("imagens/icone-cadeado.png");

}
input.submit{
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    background-attachment: fixed;
    padding: 5px 20px;
    height: 45px;
    width: 90%;

    background: linear-gradient(to bottom, #faa600, #f68a00);
    background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
    background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
    background: -o-linear-gradient(to bottom, #faa600, #f68a00);
}
.login-link{
    margin-left: 40px;
}
#imagem-pizza{
    margin-right: 800px;
}
.caixa-entrada{
    border: solid 1px black;
    border-radius: 10px;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.nav{
    background-color: black;
    padding: 10px;


}
.p2{
    color: white;
}
.div{
    border:solid 1px ;
    width: 50px;
    box-shadow: 5px 5px 10px 2px #00000042;
    border-radius: 10px;
    padding-bottom: 5px ;
}
.div-1{
    margin: auto;
    background-color: 255, 255, 255, 0.3;
}
.div-2{
    width: 100px;
    height: 500px;
    border: solid 1px;
    
}
.div-3{
    width: 400px;
    margin: auto;
    text-align: center;
}
.div-inicio{
    margin: auto;
margin-bottom: 10px;
}
.div-pedido{
    text-align: center;     
}
.container-fluid2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

#mainSlider .carousel-inner #mainSlider .carousel-item{
    height: 90vh;
} 
#carouselExampleAutoplaying .img-fluid {
    width: 300px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
  }
  .img-fluid2{
    width: 200px;
  }
  .logo{
    color: white;
  }
  .a-logo{
    margin-right: 750px;
    text-decoration: none;
  }
  .a-inicio{
    margin-right: 5px;
  }
  .a-dropdown{
    background-color: white;
    color: white;
  }
  .a3{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #faa600;
    border-radius: 10px;
    padding: 5px;
  }
  .a3:hover{
    color: yellow;
    background-color: black;

  }
  .pizza{
    text-align: center;
    margin-bottom: 15px;
  }
  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
     margin-right: var(--bs-navbar-brand-margin-end); 
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}
  #grosso{
    color: black;
    border:solid 1px;
    background-color: rgb(253, 194, 0);
    border-radius: 10px;
    padding: 2px;

  }
  .pedido {
  /*  display: flex;*/
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quantidade {
    display: flex;
    align-items: center;
  }
  
  .decrementar, .incrementar {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .quantidade-numero {
    margin: 0 10px;
  }
  .nav-link1 {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(211 19 19 / 65%);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.row {
    margin: 10px;
    --bs-gutter-x: -0.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: 45px;
}

.main-principal {
    width: 95%;
    margin: auto;
}
.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    border: 1px solid #ccc;
    margin-left: 1000px;
}
.footer{
    background-color: black;
    color: white;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 32.333333%;
}
@media (max-width: 575.98px) {
    .a-logo{
        margin-right: 200px;
        text-decoration: none;
      }

}
    
   


/*// `md` applies to small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .a-logo{
        margin-right: 200px;
        text-decoration: none;
      }
    
}
        

/*// `lg` applies to medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
   
 }

/*// `xl` applies to large devices (desktops, less than 1200px)*/
@media (min-width:992px) and (max-width: 1199.98px) { 
   
    
}
